/* material css */
li {
    /* color: green; */
}

/* este selector esta basado en etiquetas */
body {
    background-color: #063d68;
    color: white
}

header nav ul {
    display: flex;
    justify-content: space-between;
    /* color: red; */
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
}

header {
    padding: 5px;
    margin: 10px;
}

/* este selector esta basado en clases */
h2 {
    color: white;

    /* background-color: lightblue;
    padding: 100px 100px 100px 100px;
    border: 5px dashed blue;
    margin: 100px 100px 100px 100px; */
}

img {
    width: 150px;
    height: 220px;
    border-radius: 25px;
    padding: 5px;
}

img:hover{
    background-color: red;
}

.movies-popular{
    display: flex;
    justify-content: space-between;
}
.movies-romantic{
    display: flex;
    justify-content: space-between; 
}
.movies-action{
    display: flex;
    justify-content: space-between;
}
.movies-childish{
    display: flex;
    justify-content: space-between;
}
